<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/styles/index.css' %}"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,700,900">
</head>
<body>
    <header>
        <img class="logo" src="{% static '/images/littlelemon_logo.d4cae6fac8384c2dae04.png' %}" alt="">
        <nav class="max-1300">
            <ul>
                <li class="list-item"><a href="#">Home</a></li>
                <li class="list-item"><a href="#">About</a></li>
                <li class="list-item"><a href="#">Menu</a></li>
                <li class="list-item"><a href="#">Book</a></li>
                <li class="list-item"><a href="#">Reservations</a></li>
            </ul>
        </nav>
    </header>
    <section id="response" class="padding-20 max-1300">
        <h2></h2>
    </section>
    <main class="max-1300 padding-20">
        <h1>Make A Reservation</h1>
        <section class="container">
            <form>
                <section class="main">
                    <div class="name-sec sections">
                        <label for="name">Name :</label>
                        <input placeholder="enter your name.." type="text" id="name">
                    </div>
                    <div class="date-sec sections">
                        <label for="date">Reservation Date :</label>
                        <input type="date" id="date">
                    </div>
                    <div class="time-sec sections">
                        <label for="time">Reservation Time :</label>
                        <!-- <input type="time" step="3600" id="time"> -->
                        <select id="hourSelect">
                            <!-- <option value="00">00:00</option>
                            <option value="01">01:00</option>
                            <option value="02">02:00</option>
                            <option value="03">03:00</option>
                            <option value="22">22:00</option>
                            <option value="23">23:00</option> -->
                        </select>
                    </div>
                    <button type="submit" class="submit-btn">Reserve</button>
                </section>
            </form>
            <section class="sub-c"></section>
        </section>
    </main>
    <footer class="max-1300 padding-20">
        <img src="{% static 'images/logo_footer.png'%}" alt="LOGO">
        <div class="copyright-sec">
            <p>Copyright Little Lemon</p>
        </div>
    </footer>
    <script>
        
      </script>
    <script src="{% static 'scripts/script.js' %}"></script>
</body>
</html>